/*HOVER ANIMATION*/

@keyframes hover {
  0% {
    transform: translateY(0);
    /*some code*/
  }
  50% {
    transform: translateY(-5px);
    /*some other code*/
  }
  100% {
    transform: translateY(0);
    /*smoe additional code*/
  }
}